*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #373b44, #4286f4);
    .contenedor{
        width: 350px;
        height: 450px;        
        text-align: center;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
        .texto{
            width: 100%;
            height: 100px;            
            margin-top: 50px;
            h1{                
                color: blanchedalmond;
                font-size: 26px; 
                margin-bottom: 45px;
              }                  
        }
        .datos{
            width: 90%;
            height: 40px;
            padding: 5px;
            margin: 10px 0;
           
        }
        .btn{
            background: #203a43;
            border:1px solid #203a43; 
            color: white;
            font-size: 18px;            
            width: 250px;
            height: 30px;
            margin-top: 25px;
            border-radius: 10px;           
        }
        .btn:hover{
            background: white;
            color: black;
        } 
        
    }
}